@import 'tailwindcss';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    
    --color-prussian-blue-50: #eef0f7;
    --color-prussian-blue-100: #dde0ee;
    --color-prussian-blue-200: #bac1de;
    --color-prussian-blue-300: #98a2cd;
    --color-prussian-blue-400: #7584bd;
    --color-prussian-blue-500: #5365ac;
    --color-prussian-blue-600: #42518a;
    --color-prussian-blue-700: #323c67;
    --color-prussian-blue-800: #212845;
    --color-prussian-blue-900: #111422;
    --color-prussian-blue-950: #0c0e18;

    --color-brick-red-50: #fce9ea;
    --color-brick-red-100: #f9d2d6;
    --color-brick-red-200: #f3a5ad;
    --color-brick-red-300: #ed7884;
    --color-brick-red-400: #e74b5b;
    --color-brick-red-500: #e01f32;
    --color-brick-red-600: #b41828;
    --color-brick-red-700: #87121e;
    --color-brick-red-800: #5a0c14;
    --color-brick-red-900: #2d060a;
    --color-brick-red-950: #1f0407;

    --color-tangerine-dream-50: #ffece6;
    --color-tangerine-dream-100: #fed9cd;
    --color-tangerine-dream-200: #fdb39b;
    --color-tangerine-dream-300: #fd8d68;
    --color-tangerine-dream-400: #fc6836;
    --color-tangerine-dream-500: #fb4204;
    --color-tangerine-dream-600: #c93503;
    --color-tangerine-dream-700: #972702;
    --color-tangerine-dream-800: #641a02;
    --color-tangerine-dream-900: #320d01;
    --color-tangerine-dream-950: #230901;

    --color-crimson-violet-50: #f9ecf0;
    --color-crimson-violet-100: #f3d8e1;
    --color-crimson-violet-200: #e6b2c3;
    --color-crimson-violet-300: #da8ba5;
    --color-crimson-violet-400: #cd6588;
    --color-crimson-violet-500: #c13e6a;
    --color-crimson-violet-600: #9a3255;
    --color-crimson-violet-700: #74253f;
    --color-crimson-violet-800: #4d192a;
    --color-crimson-violet-900: #270c15;
    --color-crimson-violet-950: #1b090f;

    --color-space-indigo-50: #eef1f7;
    --color-space-indigo-100: #dde2ee;
    --color-space-indigo-200: #bac5de;
    --color-space-indigo-300: #98a9cd;
    --color-space-indigo-400: #758cbd;
    --color-space-indigo-500: #536fac;
    --color-space-indigo-600: #42598a;
    --color-space-indigo-700: #324367;
    --color-space-indigo-800: #212c45;
    --color-space-indigo-900: #111622;
    --color-space-indigo-950: #0c1018;
    --color-charcoal-blue-50: #f0f1f5;
    --color-charcoal-blue-100: #e0e3eb;
    --color-charcoal-blue-200: #c1c8d7;
    --color-charcoal-blue-300: #a2acc3;
    --color-charcoal-blue-400: #8490ae;
    --color-charcoal-blue-500: #65759a;
    --color-charcoal-blue-600: #515d7b;
    --color-charcoal-blue-700: #3c465d;
    --color-charcoal-blue-800: #282f3e;
    --color-charcoal-blue-900: #14171f;
    --color-charcoal-blue-950: #0e1016;
}
